<template>
    <p>Vue Component 2 (timeZone: cms = {{cmsTimeZone}}, browser = {{browserTimeZone}})</p>
</template>

<script>
export default {
  name: 'component2',
  props: {
    cmsTimeZone: String
  },
  computed: {
    browserTimeZone() {
      return Intl.DateTimeFormat().resolvedOptions().timeZone;
    }
  }
}
</script>
