<template>
    <p>{{display}} (locale: cms = {{cmsLocale}}, browser = {{browserLocale}})</p>
</template>

<script>
export default {
  name: 'component1',
  props: {
    cmsLocale: String
  },
  computed: {
    display() {
      //TODO in production scenarios: if not set get from browser default
      return this.$props.cmsLocale == 'de' 
        ? 'Vue Komponente 1' 
        : 'Vue Component 1'
    },
    browserLocale() {
      return navigator.language;
    }
  }
}
</script>
