<template>
  <p>Vue App Template</p>
  <p>{{appkey}}</p>
</template>

<script>
export default {
  el: '#pbvue3ui',
  name: 'App',
  props: {
    appkey: String
  }
}
</script>

<style>
#pbvue3ui {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
